<!DOCTYPE html>
<html lang="en">
    <head>
      
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Uploading Images and Pdf Files with Multer and Cloudinary">
        <meta name="keywords" content="upload, images, file, pdf, cloudinary, multer, mongodb">
        <!-----Title of Page------->
        <title>Upload Files with Multer and Cloudinary </title> 
    </head>
    <body>
     <section>
        <h5><%= upload.title %></h5>
        <img src="<%= upload.image%>" class="" style="width:50rem; height:40rem;" />
        <!--<iframe src="<%= upload.pdfUrl %>" width="100%" height="500"></iframe>--->
      </section>
    </body>
    </html>